{% extends '@DdrBridge/base.html.twig' %}

{% block title %}Login{% endblock title %}

{% block ddr_navbar %}{% endblock ddr_navbar %}

{% block ddr_main_container_content %}
    <div id="ddr-login-wrapper">
        {% block ddr_login_logo %}
        {% endblock ddr_login_logo %}
        <form action="{{ path('ddr.bridge.security.login') }}" method="post">
            <div class="card">
                {% block ddr_login_header %}
                {% endblock ddr_login_header %}
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">{{ 'password'|trans({}, 'ddr_security') }}</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rememberme" checked name="_remember_me" />
                        <label class="form-check-label" for="rememberme">
                            {{ 'remember_me'|trans({}, 'ddr_security') }}
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                </div>
                {% block ddr_login_footer %}
                    <div class="card-footer ddr-card-footer-plain d-grid gap-2">
                        {% block ddr_footer_content %}
                            <button type="submit" class="btn btn-primary">{{ 'login'|trans({}, 'ddr_security') }}</button>
                            {% if pathPasswordReset is not null %}
                            <a href="{{ pathPasswordReset }}" class="btn btn-link">{{ 'forgot_password'|trans({}, 'ddr_security') }}</a>
                            {% endif %}
                        {% endblock ddr_footer_content %}
                    </div>
                {% endblock ddr_login_footer %}
            </div>
        </form>
    </div>
{% endblock ddr_main_container_content %}
