{% extends '@DdrBridge/base.html.twig' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block ddr_main_container_content %}
    <h1 class="ddr-page-header">{{ 'reset_password.title'|trans({}, 'ddr_security') }}</h1>

    {% if mailSent %}
        <div class="alert alert-info">
            {{ 'reset_password.mail_sent'|trans({}, 'ddr_security') }}
        </div>
    {% else %}
        {% if user is not null %}
            <div class="alert alert-info">{{ 'password.too_short'|trans({}, 'ddr_security') }}</div>
            <div class="alert alert-info">{{ 'password.missing_character_class'|trans({}, 'ddr_security') }}</div>
            {{ form(resetForm) }}
        {% else %}
            {{ form(requestForm) }}
        {% endif %}

    {% endif %}
{% endblock ddr_main_container_content %}
