{% set readRoute = ddrCrudAdminPath(entity, 'READ') %}
{% if readRoute is not null  and is_granted('READ', entity)%}
    <a class="dropdown-item ps-3" href="{{ readRoute }}">
        <span class="fas fa-fw fa-search me-3"></span>{{ 'action.read'|trans({}, 'DdrCrudAdmin') }}
    </a>
{% endif %}
{% set updateRoute = ddrCrudAdminPath(entity, 'UPDATE') %}
{% if updateRoute is not null  and is_granted('UPDATE', entity)%}
    <a class="dropdown-item ps-3" href="{{ updateRoute }}">
        <span class="fas fa-fw fa-pen me-3"></span>{{ 'action.update'|trans({}, 'DdrCrudAdmin') }}
    </a>
{% endif %}
{% set deleteRoute = ddrCrudAdminPath(entity, 'DELETE') %}
{% if deleteRoute is not null and is_granted('DELETE', entity)%}
    <a href="{{ deleteRoute }}"
       class="dropdown-item ps-3 ddr-confirmation text-danger"
       data-ddr-confirmation-text="{{ 'DeletionConfirmationText'|trans({}, 'DdrCrudAdmin') }}">
        <span class="fas fa-fw fa-trash me-3"></span>{{ 'action.delete'|trans({}, 'DdrCrudAdmin') }}
    </a>
{% endif %}
