{% extends '@DdrCrudAdmin/base.html.twig' %}

{% set fieldDefinitions = ddrCrudAdminFieldDefinitions(entityClass, 'LIST') %}
{% set translationDomain = ddrCrudAdminTranslationDomain(entityClass, 'LIST') %}
{% set title = ddrCrudAdminTitle(entityClass, 'LIST') %}

{% block ddr_crud_admin_title %}{{ title }}{% endblock ddr_crud_admin_title %}

{% block ddr_crud_admin_header %}
    <div class="ddr-page-header ddr-action-container">
        <h1 class="ddr-content">{{ title }}</h1>
        <div class="ddr-actions">
            {% set createRoute = ddrCrudAdminPath(entityClass, 'CREATE') %}
            {% if createRoute is not null and is_granted('CREATE', entityClass) %}
                <a class="btn btn-primary btn-lg ddr-btn-icon" href="{{ createRoute }}" title="{{ 'action.create'|trans({}, 'DdrCrudAdmin') }}">
                    <span class="fas fa-fw fa-plus"></span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock ddr_crud_admin_header %}

{% block ddr_crud_admin_content %}

    <div class="row">
        <div class="col-md-6">
            {% block ddr_crud_admin_pagination %}
                {{ knp_pagination_render(entities) }}
            {% endblock ddr_crud_admin_pagination %}
        </div>

        <div class="col-md-6">
            {% block ddr_crud_admin_filter %}
                {% set filterFields = [] %}
                {% for fieldDefinition in fieldDefinitions %}
                    {% if fieldDefinition.filterable %}
                        {% set filterFields = filterFields|merge({("entity." ~ fieldDefinition.propertyPath): fieldDefinition.propertyPath|humanize|trans({}, translationDomain)}) %}
                    {% endif %}
                {% endfor %}

                {% if filterFields is not empty %}
                    {{ knp_pagination_filter(entities, filterFields) }}
                {% endif %}
            {% endblock ddr_crud_admin_filter %}
        </div>
    </div>

    <ul class="list-group">
        {% for entity in entities %}
            <li class="list-group-item d-flex">
                <div class="ddr-content">
                    {% block ddr_crud_admin_entity_item_content %}
                        <div class="row">
                            {% for fieldDefinition in fieldDefinitions %}
                                <div class="col">
                                    <div><h4>{{ fieldDefinition.propertyPath|humanize|trans({}, translationDomain) }}</h4></div>
                                    <div>{{ entity|ddrCrudAdminFieldDefinitionValue(fieldDefinition) }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endblock ddr_crud_admin_entity_item_content %}
                </div>
                <div class="ddr-actions">
                    {% block ddr_crud_admin_entity_item_actions %}
                        {{ include('@DdrBridge/DdrCrudAdmin/entity.actions.dropdown.partial.html.twig') }}
                    {% endblock ddr_crud_admin_entity_item_actions %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock ddr_crud_admin_content %}
