{% set readRoute = entity|ddrCrudAdminPath('READ') %}
{% if readRoute is not null %}
    <a class="dropdown-item ps-3" href="{{ readRoute }}">
        <span class="fas fa-fw fa-search me-3"></span>{{ 'READ'|trans({}, 'DdrCrudAdmin') }}
    </a>
{% endif %}
{% set updateRoute = entity|ddrCrudAdminPath('UPDATE') %}
{% if updateRoute is not null %}
    <a class="dropdown-item ps-3" href="{{ updateRoute }}">
        <span class="fas fa-fw fa-pen me-3"></span>{{ 'UPDATE'|trans({}, 'DdrCrudAdmin') }}
    </a>
{% endif %}
{% set deleteRoute = entity|ddrCrudAdminPath('DELETE') %}
{% if deleteRoute is not null %}
    <a href="{{ deleteRoute }}"
       class="dropdown-item ps-3 ddr-confirmation text-danger"
       data-ddr-confirmation-text="{{ 'DeletionConfirmationText'|trans({}, 'DdrCrudAdmin') }}">
        <span class="fas fa-fw fa-trash me-3"></span>{{ 'DELETE'|trans({}, 'DdrCrudAdmin') }}
    </a>
{% endif %}
