{% extends '@DdrCrudAdmin/base.html.twig' %}

{% set title = ddrCrudAdminTitle(entity, 'READ') %}
{% set fieldDefinitions = ddrCrudAdminFieldDefinitions(entityClass, 'READ') %}
{% set translationDomain = ddrCrudAdminTranslationDomain(entityClass) %}

{% block ddr_crud_admin_title %}{{ title }}{% endblock ddr_crud_admin_title %}

{% block ddr_crud_admin_header %}
    <div class="ddr-page-header ddr-action-container">
        <h1 class="ddr-content">{{ title }}</h1>
        <div class="ddr-actions">
            {% block ddr_crud_admin_read_actions %}
                {% set updateRoute = ddrCrudAdminPath(entity, 'UPDATE') %}
                {% set deleteRoute = ddrCrudAdminPath(entity, 'DELETE') %}
                {% if (updateRoute is not null or deleteRoute is not null) %}
                    <div class="dropdown">
                        <button class="dropdown-toggle ddr-no-caret btn btn-link btn-lg ddr-btn-icon"
                                type="button"
                                id="dropdownMenuButton"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <span class="fas fa-fw fa-ellipsis-v"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            {% block ddr_crud_admin_read_actions_dropdown_menu_content %}
                                {% if updateRoute is not null and is_granted('UPDATE', entity) %}
                                    <a class="dropdown-item ps-3" href="{{ updateRoute }}">
                                        <span class="fas fa-fw fa-pen me-3"></span>{{ 'UPDATE'|trans({}, 'DdrCrudAdmin') }}
                                    </a>
                                {% endif %}
                                {% if deleteRoute is not null and is_granted('DELETE', entity) %}
                                    <a href="{{ deleteRoute }}"
                                       class="dropdown-item ps-3 ddr-confirmation text-danger"
                                       data-ddr-confirmation-text="{{ 'DeletionConfirmationText'|trans({}, 'DdrCrudAdmin') }}">
                                        <span class="fas fa-fw fa-trash me-3"></span>{{ 'DELETE'|trans({}, 'DdrCrudAdmin') }}
                                    </a>
                                {% endif %}
                            {% endblock ddr_crud_admin_read_actions_dropdown_menu_content %}
                        </div>
                    </div>
                {% endif %}
            {% endblock ddr_crud_admin_read_actions %}
        </div>
    </div>
{% endblock ddr_crud_admin_header %}

{% block ddr_crud_admin_content %}

    <dl>
        {% for fieldDefinition in fieldDefinitions %}
            <dt>{{ fieldDefinition.propertyPath|humanize|trans({}, translationDomain) }}</dt>
            <dd>{{ entity|ddrCrudAdminFieldDefinitionValue(fieldDefinition) }}</dd>
        {% endfor %}
    </dl>

{% endblock ddr_crud_admin_content %}
