<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% block ddr_head_meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock ddr_head_meta %}

    <title>{% block title %}{% endblock title %}</title>

    {% block ddr_stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block ddr_javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block ddr_body %}

    {% block ddr_navbar %}
        <nav class="navbar {% block ddr_navbar_classes %}navbar-expand-lg fixed-top border-bottom{% endblock ddr_navbar_classes %}">
            <div class="{{ block('ddr_container_class') }}">
                {% block ddr_navbar_brand %}
                    <a class="navbar-brand" href="#">dontdrinkandroot</a>
                {% endblock ddr_navbar_brand %}
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% block ddr_navbar_collapse_content %}
                        {{ knp_menu_render('ddr_navbar_left',{'attributes':{'classes': ['me-auto','mb-0','mb-lg-0']}},'ddr_navbar_bs5') }}
                        {{ knp_menu_render('ddr_navbar_right',{'attributes':{'classes': ['mb-0','mb-lg-0']}},'ddr_navbar_bs5') }}
                    {% endblock ddr_navbar_collapse_content %}
                </div>
            </div>
        </nav>
    {% endblock ddr_navbar %}

    {% set ddr_subnav_content_block = block('ddr_subnav_content') %}
    {% if ddr_subnav_content_block|trim is not empty %}
        {% block ddr_subnav %}
            <nav class="ddr-subnav">
                <div class="{{ block('ddr_container_class') }}">
                    {% block ddr_subnav_content %}
                    {% endblock ddr_subnav_content %}
                </div>
            </nav>
        {% endblock ddr_subnav %}
    {% endif %}

    {% block ddr_main %}
        <main class="{% block ddr_container_class %}container{% endblock ddr_container_class %}">
            {% block ddr_main_container_content %}
            {% endblock ddr_main_container_content %}
        </main>
    {% endblock ddr_main %}

    {% block ddr_footer %}
    {% endblock ddr_footer %}

{% endblock ddr_body %}
</body>
</html>
